<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="Console" name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|corr:${scopeproperty:item=CorrelationId}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="file"
				fileName="${basedir}/logs/evcharging-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|corr:${scopeproperty:item=CorrelationId}|${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- Skip noisy framework Information/Debug logs, keep our own app logs from Debug up -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="EVCharging.*" minlevel="Debug" writeTo="console,file" />
		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>
</nlog>

